force-app/main/default/flows/Assign_Contacts_To_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Scheduled_Flow_Has_Been_Completed</name>
        <label>Scheduled Flow Has Been Completed</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Scheduled Flow Has Been Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Contact_To_Accounts</name>
        <label>Assign Contact To Accounts</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Assign Contacts To Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Contacts To Account</label>
    <loops>
        <name>contactRecord</name>
        <label>Loop Through Contact Record</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_To_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>contactRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Dummy Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLAExpirationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLASerialNumber__c</field>
            <value>
                <stringValue>12345678</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>Scheduled_Flow_Has_Been_Completed</targetReference>
        </connector>
        <inputReference>Get_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2021-09-15</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
