force-app/main/default/flows/Batch_Error_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter</name>
        <label>Post To Chatter</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Retry_Post_To_Chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Label.MulesoftGroup</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Retry_Post_To_Chatter</name>
        <label>Retry Post To Chatter</label>
        <locationX>440</locationX>
        <locationY>434</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <faultConnector>
            <targetReference>Delete_Batch_Error_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Label.MulesoftGroup</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Batch E {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Batch Error Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Batch_Error_Record</name>
        <label>Create Batch Error Record</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Post_To_Chatter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Retry_Batch_Error_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Lod_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Details__c</field>
            <value>
                <elementReference>$Record.StackTrace</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Process_Name__c</field>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Retry_Batch_Error_Record</name>
        <label>Retry Batch Error Record</label>
        <locationX>1232</locationX>
        <locationY>314</locationY>
        <inputAssignments>
            <field>Log_Details__c</field>
            <value>
                <elementReference>$Record.StackTrace</elementReference>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Batch_Error_Record</name>
        <label>Delete Batch Error Record</label>
        <locationX>704</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Batch_Error_Record</elementReference>
            </value>
        </filters>
        <object>Error_Log__c</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Batch_Error_Record</targetReference>
        </connector>
        <object>BatchApexErrorEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
